div h1 {
    margin-left: 2%;
    margin-top: 3%;
}
hr {
    margin-left: 1%;
    background-color: rgb(4, 4, 52);
    width: 65%;
}
#cityName {
    margin-left: 2%;
    width: 65%;
}
#searchButton {
    background-color: rgb(33, 98, 182);
    color: aliceblue;
    justify-content: center;
    margin-left: 2%;
    margin-top: 2%;
    width: 65%;
}

#placeholder {
    margin-left: 40%;
    font-size: large;
}

.row {
    margin-left: 2%;
}

.text-black {
    font-size: 150%;
}

.card {
    margin-top: 50px;
    margin-left: 3%;
    background-color: rgb(180, 205, 252);
}

.card-body {
    padding: 2px;
}

#currentForecast {
    background-color: aliceblue;
    margin-top: 3%;
    margin-right: 10%;
    width: 95%;
    height: 200px;
    outline: 2px solid rgb(0, 0, 0);
}

